<app-header activeTab="editAccount"></app-header>
<div class="top-content">

  <div class="container">
    <!--<div class="row">-->
    <!--<div class="col-sm-8 col-sm-offset-2 text">-->
    <!--<h1><strong>Web Notepad</strong> Sign in</h1>-->
    <!--&lt;!&ndash;<div class="description">&ndash;&gt;-->
    <!--&lt;!&ndash;<p>&ndash;&gt;-->
    <!--&lt;!&ndash;This is a free responsive login form made with Bootstrap. &ndash;&gt;-->
    <!--&lt;!&ndash;Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <div class="row form-box">
      <div class="col-sm-10 col-sm-offset-1 ">
        <div class="form-top">
          <h3 align="center"><strong>Edit account</strong></h3>

          <div *ngIf="edited==false" class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong> Failed to edit account
          </div>
          <div *ngIf="edited==true" class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> You have successfully edited your account
          </div>

          <form class="login-form" [formGroup]="editAccountForm" (ngSubmit)="editAccount()">
            <div *ngIf="editAccountForm.get('login').hasError('maxlength') && editAccountForm.get('login').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                          aria-label="close">&times;</a>
              <strong>Warning!</strong> Field username must not be longer than 30 signs
            </div>
            <div *ngIf="editAccountForm.get('login').hasError('required') && editAccountForm.get('login').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                         aria-label="close">&times;</a>
              <strong>Warning!</strong> Field username is required
            </div>
            <div class="form-group">
              <label  for="form-username">Username</label>
              <input type="text" name="form-username" placeholder="Username..." class="form-username form-control"
                     id="form-username" formControlName="login">

            </div>

            <div formGroupName="passwords">

              <div *ngIf="editAccountForm.get('passwords').get('password').hasError('maxlength') && editAccountForm.get('passwords').get('password').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                                                                    aria-label="close">&times;</a>
                <strong>Warning!</strong> Field password must not be longer than 50 signs
              </div>
              <div *ngIf="editAccountForm.get('passwords').get('password').hasError('required') && editAccountForm.get('passwords').get('password').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                                                                   aria-label="close">&times;</a>
                <strong>Warning!</strong> Field password is required
              </div>

              <div class="form-group">
                <label  for="form-password">Password</label>
                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control"
                       id="form-password" formControlName="password">
              </div>

              <div *ngIf="editAccountForm.get('passwords').get('reenterPassword').hasError('maxlength') && editAccountForm.get('passwords').get('reenterPassword').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                                                                                  aria-label="close">&times;</a>
                <strong>Warning!</strong> Field re-enter password must not be longer than 50 signs
              </div>
              <div *ngIf="editAccountForm.get('passwords').get('reenterPassword').hasError('required') && editAccountForm.get('passwords').get('reenterPassword').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                                                                                 aria-label="close">&times;</a>
                <strong>Warning!</strong> Field re-enter password is required
              </div>
              <div *ngIf="editAccountForm.get('passwords').touched && editAccountForm.get('passwords').hasError('nomatch')" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                                  aria-label="close">&times;</a>
                <strong>Warning!</strong> Both passwords must match
              </div>
              <div class="form-group">
                <label  for="form-re-enter-password">Re-enter password</label>
                <input type="password" name="form-re-enter-password" placeholder="Re-enter password..."
                       class="form-password form-control" id="form-re-enter-password" formControlName="reenterPassword">
              </div>
            </div>
            <div *ngIf="editAccountForm.get('firstName').hasError('maxlength') && editAccountForm.get('firstName').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                                  aria-label="close">&times;</a>
              <strong>Warning!</strong> Field first name must not be longer than 50 signs
            </div>
            <div class="form-group">
              <label for="form-first-name">First name</label>
              <input type="text" name="form-first-name" placeholder="First name..." class="form-username form-control"
                     id="form-first-name" formControlName="firstName">
            </div>

            <div *ngIf="editAccountForm.get('lastName').hasError('maxlength') && editAccountForm.get('lastName').touched" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert"
                                                                                                                                                                aria-label="close">&times;</a>
              <strong>Warning!</strong> Field last name must not be longer than 70 signs
            </div>
            <div class="form-group">
              <label for="form-last-name">Last name</label>
              <input type="text" name="form-last-name" placeholder="Last name..." class="form-username form-control"
                     id="form-last-name" formControlName="lastName">
            </div>
            <div class="form-group">
              <button type="submit" class="btn" [disabled]="editAccountForm.invalid">Edit account</button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
